@import '../../../variables';

.edit-btn {
  float: right;
}

.skills-list {
  list-style-type: none;
}

.skill {
  border-radius: 4px;
  border: 1px solid $text-color;
  margin: 5px 0;
  color: $text-color;
  font-weight: 300;
  font-size: 14px;
}

.skill-level {
  border-radius: 4px;
  background-color: $primary-color;
}

.skills-details, .vertical-lines-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical-lines-container {
  margin-top: 1vh;
}

.vertical-line {
  height: 7px;
  border-left: 2px solid #FFF;
}

.skill-level-line {
  border: 1px solid #FFF;
  margin-top: 0;
}

.skill-name {
  display: inline-block;
  font-weight: 500;
  margin: 7px;
}
