* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

.navbar {
  min-width: 250px;
}

.mat-drawer-navigation {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  height: 100%;
  background-color: #000000;
}

.user-brief-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed gray;
  padding-bottom: 15px;
}

.profile-photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: 2px solid white;
  margin: 15px 0;
}

.name {
  color: #FFFFFF;
  font-weight: 700;
}

.nav-list-item {

  .selected {
    filter: invert(82%) sepia(39%) saturate(486%) hue-rotate(63deg) brightness(107%) contrast(97%);
  }

  .nav-link {
    &:hover {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(330deg) brightness(105%) contrast(101%);
    }

    .nav-icon {
      width: 20px;
      height: 20px;
    }

    display: flex;
    flex-direction: row;
    filter: invert(86%) sepia(4%) saturate(40%) hue-rotate(313deg) brightness(100%) contrast(90%);
  }

  position: relative;
  padding: 10px 0 10px 20px;
  border-bottom: 1px dashed gray;
}

.nav-item-text {
  margin-left: 3%;
  font-size: 1.3em;
}

.go-back-link {
  &:hover {
    color: #FFF;
  }

  // TODO fix displaying of go back link
  position: relative;
  color: #E8E8E8;
  z-index: 100;
  left: -40%;
}
