<nav class="navbar">
    <div>
        <ng-content></ng-content>
        <ul class="navbar-list">
            <li *ngFor="let navigationItem of navigationItems" class="nav-list-item">
                <a class="nav-link"
                   [ngClass]="{'active': navigationItem.id === activeNavItem}"
                   (click)="onClick(navigationItem)">
                    <img class="nav-icon" [src]="navigationItem.icon" [alt]="navigationItem.alt">
                    <p class="nav-item-text">{{navigationItem.text}}</p>
                </a>
            </li>
        </ul>
    </div>
    <a class="go-back-link" routerLink='/'>
        <span>&#60; Go back</span>
    </a>
</nav>

