<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="mat-drawer-navigation" opened mode="side">
    <app-avatar class="user-brief-info" [imageUrl]="imageUrl">{{name}}</app-avatar>
    <nav class="navbar">
      <ul class="navbar-list">
        <li *ngFor="let navItem of navItems" class="nav-list-item">
          <a class="nav-link"
             [href]="navItem.href"
             [ngClass]="{'active': navItem.id === activeNavItem}"
             (click)="onClick(navItem.id)">
            <img class="nav-icon" [src]="navItem.icon" [alt]="navItem.alt">
            <p class="nav-item-text">{{navItem.text}}</p>
          </a>
        </li>
      </ul>
    </nav>
    <div class="go-back-elem">
      <a class="go-back-link" routerLink='/'>
        <span id="back-arrow">< Go back</span>
      </a>
    </div>
  </mat-drawer>

  <div class="burger-menu">
    <button class="burger-menu__btn" mat-button *ngIf="mobile" (click)="drawer.toggle()"></button>
  </div>

</mat-drawer-container>
