.bg {
  background-image: url("/../../../assets/img/background_image.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px) opacity(0.9);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.center-block {
  > * {
    margin: 2%;
  }

  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 600px;
  padding: 20px;
  align-items: center;
  color: #FFFFFF;
}

.name {
  font-size: 36px;
  font-weight: 600;
}

.bio {
  font-size: 30px;
}

.know-more {
  font-size: 16px;
  text-decoration: none;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 10px;
}

.know-more:hover {
  background-color: #29AB87;
}

@media only screen and (max-width: 550px) {
  .name {
    font-size: 24px;
  }

  .bio {
    font-size: 22px;
  }

  .detail-info {
    font-size: 14px;
  }
}
