$avatar-size: 125px;
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-photo {
  background: no-repeat center;
  background-size: cover;
  border-radius: 50%;
  width: $avatar-size;
  height: $avatar-size;
  border: 2px solid white;
  margin: 15px 0;
}

.name {
  font-size: 1.7em;
  color: #FFFFFF;
  font-weight: 700;
}
