$label-indent: 100px;
$border-radius: 2px;
$error-color: red;

.login-form {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-control-wrapper {
  padding: 5px;
}

.form-label {
  display: inline-block;
  width: $label-indent;
}

.form-input {
  height: 25px;
  border-radius: $border-radius;
  padding-left: 10px;
}

.submit-button {
  width: 90px;
  height: 30px;
  margin-left: $label-indent;
  border-radius: $border-radius;
}

.has-error {
  border-color: $error-color;
}

.validation-error-msg {
  font-size: 10px;
  color: $error-color;
  margin-left: $label-indent;
}

.text-align-center {
  text-align: center;
}
