@import '../../../variables';

.toolbar-header {
  margin: 16px auto;
}

.dotted-divider {
  border-style: none;
  border-top: 2px dotted $primary-color;
}

.experience-li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 20px 0;
}

.experience-li-left-info__job-place, .experience-li-right-info__job-title {
  font-weight: 600;
}

.experience-li-left-info__period, .experience-li-right-info__job-description {
  font-size: 14px;
  font-weight: 400;
}

.experience-li-left-info {
  min-width: 15%;
}

@media screen and (max-width: 550px) {
  .experience-li-left-info {
    min-width: 30%;
  }

  .experience-li-left-info__period, .experience-li-right-info__job-description {
    font-size: 10px;
  }


}
