<div id="experience" class="header">
  <h2>{{header}}</h2>
</div>
<ul class="experience-list">
  <li class="experience-li" *ngFor="let experienceItem of experienceItems; let i = index">
    <div class="experience-li-left-info">
      <div class="experience-li-left-info__job-place">{{experienceItem.jobPlace}}</div>
      <div class="experience-li-left-info__period">{{experienceItem.period}}</div>
    </div>
    <div class="experience-li-right-info">
      <div class="experience-li-right-info__job-title">{{experienceItem.jobTitle}}</div>
      <div class="experience-li-right-info__job-description">{{experienceItem.jobDescription}}</div>
    </div>
    <hr class="dotted-divider" *ngIf="i !== experienceItems.length - 1">
  </li>
</ul>
