<div class="page-container">
    <mat-toolbar color="primary">
        <mat-icon class="menu-burger" (click)="drawer.toggle()" *ngIf="isSmallScreen">menu</mat-icon>
        <div class="label">
            <h3 class="section-header" style="color: white"><mat-icon class="header-label">sports_tennis</mat-icon>rtfolio</h3>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="mat-drawer-container" autosize>
        <mat-sidenav #drawer class="mat-drawer-side-nav" [mode]="isSmallScreen ? 'over' : 'side'"
                     opened="{{!isSmallScreen}}">
            <app-side-nav [name]="name"
                          [imageUrl]="profilePhotoSrc"
                          [activeNavItem]="activeNavLink"
                          (navLink)="onNavChanged($event)">
            </app-side-nav>
        </mat-sidenav>
        <mat-sidenav-content>
            <section class="main-content">
                <app-text-block id="about" [title]="aboutMeTitle" [text]="aboutMeText"></app-text-block>
                <app-education id="education" [educationItems]="educationItems"></app-education>
                <app-experience id="experience"></app-experience>
                <app-skills id="skills"></app-skills>
                <app-contacts id="contacts"></app-contacts>
                <app-feedbacks id="feedbacks"></app-feedbacks>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
