<mat-toolbar color="primary">
    <mat-icon class="menu-burger" (click)="drawer.toggle()" *ngIf="isSmallScreen">menu</mat-icon>
    <div class="label">
        <mat-icon class="header-label">business</mat-icon>
        <h3 class="section-header" style="color: white">Portfolio</h3>
    </div>
</mat-toolbar>
<mat-sidenav-container class="mat-drawer-container" autosize>
    <mat-sidenav #drawer class="mat-drawer-side-nav" [mode]="isSmallScreen ? 'over' : 'side'"
                 opened="{{!isSmallScreen}}">
        <app-side-nav [name]="name"
                      [imageUrl]="profilePhotoSrc"
                      [activeNavItem]="activeNavLink"
                      (navLink)="onNavChanged($event)">
        </app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <section class="main-content">
            <app-text-block [title]="aboutMeTitle" [text]="aboutMeText"></app-text-block>
            <app-education [educationItems]="educationItems"></app-education>
            <app-experience></app-experience>
            <app-skills></app-skills>
            <app-contacts></app-contacts>
            <app-feedbacks></app-feedbacks>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>
