app-side-nav {
  position: relative;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  &.blurred {
    filter: blur(4px) opacity(.9);
  }

  max-height: 100vh;
  position: relative;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}

.label {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 5px;
  padding: 10px 0;
}
