<mat-progress-bar class="progress-bar" *ngIf="!personData" mode="indeterminate"></mat-progress-bar>
<div class="page-container" *ngIf="personData">
    <mat-toolbar color="primary">
        <mat-icon class="menu-burger" (click)="drawer.toggle()" *ngIf="isSmallScreen">menu</mat-icon>
        <h3 class="toolbar-header" style="color: white">Portfolio</h3>
    </mat-toolbar>
    <mat-sidenav-container class="mat-drawer-container" autosize>
        <mat-sidenav #drawer class="mat-drawer-side-nav" [mode]="isSmallScreen ? 'over' : 'side'"
                     opened="{{!isSmallScreen}}">
            <app-side-nav
                    [photoUrl]="personData.photoUrl"
                    [activeNavItem]="activeNavLink"
                    (navLink)="onNavChanged($event)">
                <app-avatar [personData]="personData"></app-avatar>
            </app-side-nav>
        </mat-sidenav>
        <mat-sidenav-content>
            <section class="main-content">
                <app-text-block id="about" [aboutText]="aboutText"></app-text-block>
                <app-education id="education" [educationItems]="educationList"></app-education>
                <app-experience id="experience" [experienceList]="experienceList"></app-experience>
                <app-skills id="skills"></app-skills>
                <app-contacts id="contacts" [contacts]="contactsList"></app-contacts>
                <app-feedbacks id="feedbacks" [feedbackList]="feedbackList"></app-feedbacks>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
