app-side-nav {
  position: relative;
}

.section-header {
  padding-left: 15px;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  &.blurred {
    filter: blur(4px) opacity(.9);
  }

  max-height: 100vh;
  position: relative;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-label {
  font-size: 1.8em;
  width: max-content;
}

.label {
  display: flex;
  margin-left: 5%;
  padding: 5px 0;
}
