app-side-nav {
  position: relative;
}

.progress-bar {
  position: absolute;
}

.toolbar-header {
  margin: 20px 23px;
  font-style: italic;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  &.blurred {
    filter: blur(4px) opacity(.9);
  }

  max-height: 100vh;
  position: relative;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}
