@import '~@angular/material/theming';

@include mat-core();

$green-gray-primary: mat-palette($mat-teal);
$green-gray-accent: mat-palette($mat-blue-gray);
$green-gray-warn: mat-palette($mat-red);

$green-gray-theme: mat-dark-theme((
        color: (
                primary: $green-gray-primary,
                accent: $green-gray-accent,
                warn: $green-gray-warn
        )
));

@include angular-material-theme($green-gray-theme);
